.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);
  margin: 0.5em;
  user-select: auto;
 }

 .activeCard {
  color: white;
  background: black;
 }
 .center {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
 }